:root {
  font-family: 'Fredoka', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 32px;

  color: #ffffff;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.fredoka {
  font-family: 'Fredoka', sans-serif;
}
.fredoka-one {
  font-family: 'Fredoka One', sans-serif;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 300ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
